nav(id = "footer_btn")
    ul
        li
            a(href = "index.html")
                img(src = imgPath + '/home.svg')
                p ホーム
        li
            a(href = "camera.html")
                img(src = imgPath + '/camera.svg')
                p カメラ
        li
            a(href = "select_mission.html")
                img(src = imgPath + '/mission.svg')
                p ブラックミッション
        li
            a(href = "temp_missions.html")
                img(src = imgPath + '/contents.svg')
                p 作成ミッション