div(id = "modal")
    div(id = "modal_window")
        p(id = "modal_title") completed!
        p(id = "modal_contents_1") あ
        p(id = "modal_contents_2") を追加しました！
    button(class = "back", onclick="") 戻る
