nav(id = "footer_btn")
    ul
        li
            a(href = "index.html") トップ
        li
            a(href = "camera.html") QRコード読み取り
        li
            a(href = "select_mission.html") ミッション選択
        li
            a(href = "temp_missions.html") 作成済み文章一覧
        li(id = "menu") メニュー