mixin mission_card(m_id = "1", m_icon = "camera", m_content = "自分と■が同じ人を見つける")
    div(class = "mission_card")
        a(href = "create_mission_" + m_id + ".html")
            li(class = "mission_NO") #{m_id}
            if m_icon == "camera"
                li(class = "mission_icon")
                    img(src = imgPath + '/camera.svg')
            else if m_icon == "check"
                li(class = "mission_icon")
                    img(src = imgPath + '/check.svg')
            else if m_icon == "check&camera"
                li(class = "mission_icon2")
                    img(src = imgPath + '/check.svg')
                li(class = "mission_icon3")
                    img(src = imgPath + '/camera.svg')
            li(class = "mission_content") #{m_content}