div(id = "modal", hidden)
    div(id = "modal_window")
        p(id = "modal_title") completed!
        p(id = "modal_contents_1")
        p(id = "modal_contents_2") を追加しました！
    button(class = "back", onclick = "closeModal()") 戻る
