mixin modalWindow(id = "modal", title = "【お知らせ】")
    div(id = id, class = "modal", hidden)
        div(class = "modal_window")
            p(class = "modal_title") #{title}
            block
            button(class = "back", onclick = `closeModal("${id}")`) 戻る
