- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'XXXXX'
- var canonical = '/'
- var themeColor = '#000000'
- var siteName = 'All or Nothing BLACK'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '/',
      name : '',
      title : 'ホーム｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    camera  : {
      url : 'camera.html',
      canonicalUrl : '/',
      name : '',
      title : 'カメラ｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    select_mission  : {
      url : 'select_mission.html',
      canonicalUrl : '/',
      name : '',
      title : 'ブラックミッション｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_1  : {
      url : 'create_mission_1.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_2  : {
      url : 'create_mission_2.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_3  : {
      url : 'create_mission_3.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_4  : {
      url : 'create_mission_4.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_5  : {
      url : 'create_mission_5.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_6  : {
      url : 'create_mission_6.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_7  : {
      url : 'create_mission_7.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_8  : {
      url : 'create_mission_8.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_9  : {
      url : 'create_mission_9.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_10  : {
      url : 'create_mission_10.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_11  : {
      url : 'create_mission_11.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_12  : {
      url : 'create_mission_12.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_13  : {
      url : 'create_mission_13.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_14  : {
      url : 'create_mission_14.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_15  : {
      url : 'create_mission_15.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_16  : {
      url : 'create_mission_16.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_17  : {
      url : 'create_mission_17.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_18  : {
      url : 'create_mission_18.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_19  : {
      url : 'create_mission_19.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    create_mission_20  : {
      url : 'create_mission_20.html',
      canonicalUrl : '/',
      name : '',
      title : 'ミッション作成｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    temp_missions  : {
      url : 'temp_missions.html',
      canonicalUrl : '/',
      name : '',
      title : '作成ミッション｜'+siteName,
      description : '',
      imageUrl : domain+canonical+imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    }
  }
