extends _layout

block vars
  include _config
  - var key = "create_mission_14"
  - var page = pages[key]

block contents
  - var missionNo = 14
  include component/_title
  div(id = "content")
    p(id = "create_mission") 文字をタップして入力（最大30文字）

  //ミッションカード作成
  include mixin/_mission_card
  +mission_card("14", "check", "謎の園の■■について語った長文をXでポストする")

  div(id = "error-message")
  div(id = "input-text")
  button(id = "delete-char", onclick = "deleteChar()" disabled) 取消

  include component/_gozyuonhyo

  div(id = "button_zone")
    button(id = "cleared_list", onclick = "showModal('cleared_words_modal')") クリア済一覧
    button(id = "make_contents", onclick = `createMission(${missionNo})` disabled) 作成


  include component/_footerBtn

  // モーダルウィンドウ
  include mixin/_modalwindow

  // クリア済単語一覧
  +modalWindow("cleared_words_modal", "クリア済単語一覧")
    div(id = "cleared_words" class = "mission_card")

  // ミッション作成完了画面
  +modalWindow("create_mission_completed_modal")
    p ミッションを<br>
      | 作成しました！

  input(type="hidden", id="mission_id", value=`${missionNo}`)

block script
  script(src=`${jsPath}/create_mission.js`)
