extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  include component/_title
  div(class = "description")
    p(class = "content") 現在の文字

  include component/_gozyuonhyo

  button(id = "howtoplay", onclick="showModal()") 遊び方

  include component/_footerBtn

  include mixin/_modalwindow
  +modalWindow

block script
  script(src=`${jsPath}/${key}.js`)
