extends _layout

block vars
  include _config
  - var key = "select_mission"
  - var page = pages[key]

block contents
  include component/_title
  div(id = "content")
    p(id = "select_mission") 問題番号をタップしてください
  // ミッション一覧
  div(id = "mission")
    a(href = "create_mission_1.html")
      li 同じ■■を持っている人
    a(href = "create_mission_2.html")
      li 同じ■■を持っている人
    a(href = "create_mission_3.html")
      li 同じ■■を持っている人

  include mixin/_footerBtn
