extends _layout

block vars
  include _config
  - var key = "select_mission"
  - var page = pages[key]

block contents
  include component/_title
  div(class = "description")
    p(class = "content") 問題番号をタップしてください
  // ミッション一覧
  div(id = "mission")
    div(class = "mission_card")
      a(href = "create_mission_1.html")
        li(class = "mission_NO") 1
        li(class = "mission_content") 同じ■■を持っている人
    div(class = "mission_card")
      a(href = "create_mission_2.html")
        li(class = "mission_NO") 2
        li(class = "mission_content") ■■色の靴を持っている人
    div(class = "mission_card")
      a(href = "create_mission_3.html")
        li(class = "mission_NO") 3
        li(class = "mission_content") ■■色の服を着ている人

  include component/_footerBtn
