extends _layout

block vars
  include _config
  - var key = "select_mission"
  - var page = pages[key]

block contents
  include component/_title
  div(class = "description")
    p(class = "content") ブラックミッションをタップ
  // ブラックミッション
  div(id = "mission")
    //ミッションカード作成
    include mixin/_mission_card
    +mission_card("1", "camera", "実物の黒い■が写った写真を撮る")
    +mission_card("2", "camera", "自分と■が同じ人を見つける")
    +mission_card("3", "camera", "今日■を自分が食べた")
    +mission_card("4", "camera", "今日■に行ってきた")
    +mission_card("5", "check&camera", '今日プレイした"■"のクリア画面を見せる')
    +mission_card("6", "check&camera", "死ぬ気で■する")
    +mission_card("7", "check&camera", "■みたいに「ぶらっく」と言う")
    +mission_card("8", "check&camera", "■に対する愛をアピールする")
    +mission_card("9", "check", "■についての上手いウソ雑学を言う")
    +mission_card("10", "check", '公演"■"にまつわるグッズを受付に持ってくる')
    +mission_card("11", "camera", '公演"■"のキービジュアルを再現した写真を撮る')
    +mission_card("12", "camera", "謎の園会場にあるものを使って、答えが■になるような謎を作る")
    +mission_card("13", "check", '受付で、"謎解き"と"■"でなぞかけをする')
    +mission_card("14", "check&camera", "謎の園の■について語った長文をXでポストする")
    +mission_card("15", "check&camera", "■を謎の園にいるスタッフにあげる")
    +mission_card("16", "check&camera", "10人以上で■する")
    +mission_card("17", "check", "受付横で、■を100回する")
    +mission_card("18", "check", "受付横で、1分間■する")
    +mission_card("19", "check", "会場の入り口に貼ってある、■が答えの小謎を解き明かす")
    +mission_card("20", "check", "■のアイテムミッションに挑戦して、クリアする")

  include component/_footerBtn
