extends _layout

block vars
  include _config
  - var key = "temp_missions"
  - var page = pages[key]

block contents
  include component/_title
  div(class = "description")
    p(class = "content") 仮作成文章一覧
  div(id = "created_content_list")
    div(id = "missionCard")
      div(class = "missionNo") 1
      div(class = "missioncontent") ミッション内容
  // 各種処理メニュー
  include component/_mask
  button(id = "back", onclick = "") 文章取消
  button(id = "clear", onclick = "") クリア処理
  button(id = "back", onclick = "") 戻る

  include component/_footerBtn
