extends _layout

block vars
  include _config
  - var key = "temp_missions"
  - var page = pages[key]

block contents
  include component/_title
  div(class = "description")
    p(class = "content") 作成ミッションをタップ
  // ローカルストレージから作成ミッション情報を取得
  div(id = "created_content_list")

  include component/_footerBtn

  include mixin/_modalwindow

  // 各種処理メニュー
  +modalWindow("modal", "")
    div(id = "button_zone")
      button(id = "remove_btn", onclick = "removeTempMission()") 文章取消
      button(id = "clear_btn", onclick = "missionClear()") クリア処理

  // 作成ミッション削除画面
  +modalWindow("remove_temp_mission_modal")
    p 作成ミッションを<br>
      | 削除しました！

  // クリア確認画面
  +modalWindow("confirm_clear_modal", "")
    p クリア処理を実行しますか？
    div(id = "button_zone")
      button(id = "cancel_btn", onclick = "cancelClear()") いいえ
      button(id = "confirm_btn", onclick = "confirmClear()") はい

  // ミッションクリア画面
  +modalWindow("mission_clear_modal")
    p ミッションを<br>
      | クリアしました！

  input(type="hidden", id="now-mission-id")
  input(type="hidden", id="now-temp-word-idx")

block script
  script(src=`${jsPath}/${key}.js`)
