extends _layout

block vars
  include _config
  - var key = "temp_missions"
  - var page = pages[key]

block contents
  include component/_title
  div(class = "description")
    p(class = "content") 仮作成文章一覧
  // ローカルストレージから仮作成文章情報を取得
  div(id = "created_content_list")

  include component/_footerBtn

  // 各種処理メニュー
  include mixin/_modalwindow
  +modalWindow("modal", "")
    div(id = "button_zone")
      button(id = "remove", onclick = "showModal('remove_temp_modal')") 文章取消
      button(id = "clear", onclick = "showModal('temp_clear_modal')") クリア処理

  input(type="hidden", id="now-mission-id")
  input(type="hidden", id="now-temp-word-idx")

block script
  script(src=`${jsPath}/${key}.js`)
