extends _layout

block vars
  include _config
  - var key = "temp_missions"
  - var page = pages[key]

block contents
  include component/_title
  div(class = "description")
    p(class = "content") 仮作成文章をタップしてください
  // ローカルストレージから仮作成文章情報を取得
  div(id = "created_content_list")

  include component/_footerBtn

  // 各種処理メニュー
  include mixin/_modalwindow
  +modalWindow("modal", "")
    div(id = "button_zone")
      button(id = "remove", onclick = "removeTempMission()") 文章取消
      button(id = "clear", onclick = "missionClear()") クリア処理

  // 仮作成文章削除画面
  +modalWindow("remove_temp_mission_modal")
    p 仮作成した文章を<br>
      | 削除しました！

  // ミッションクリア画面
  +modalWindow("mission_clear_modal")
    p ミッションを<br>
      | クリアしました！

  input(type="hidden", id="now-mission-id")
  input(type="hidden", id="now-temp-word-idx")

block script
  script(src=`${jsPath}/${key}.js`)
