@charset "UTF-8"

@import "setting/_path"
@import "setting/_color"

@import "component/_box"
@import "component/_btn"
@import "component/_font"

@import "foundation/_sanitize"
@import "foundation/_base"

@import "common/_footer"
@import "common/_mask"
@import "common/_modalwindow"
@import "common/_gozyuonhyo"

@import "page/_top"
