#created_content_list
    height 100%
    width 100%
    overflow-y scroll
    scrollbar-color c-white c-black
    scrollbar-width auto
    .mission_card
        margin 5rem 0

.temp_missions
    & button
        margin 2rem auto
    #remove
        background-color c-red
    #clear
        background-color c-black
    #back
        background-color c-blue
        margin-top 5rem
        display block