.temp_missions
    & #created_content_list
        height 100%
        width 100%
        overflow-y scroll
        scrollbar-color c-white c-black
        scrollbar-width auto
        margin-bottom 8vh
        .mission_card
            margin 5rem 0

    & button
        margin 2rem auto
    #remove
        background-color c-red
    #clear
        background-color c-darkgray
    .back
        background-color c-blue
        display block
    & .content
        margin-top 10%
        width 70%
