.top
    text-align center

#index
    margin-right auto
    margin-left auto
    margin-top 40%
    width 20%
    padding 1rem 0
    background-color c-black
    color c-white

#charCardList
    margin 3rem 0
    margin-top 10%

#howtoplay
    margin-top 5%