.mission_card
    position relative
    .mission_NO
        position absolute
        background-color c-black
        color c-white
        width 8%
        height auto
        padding 0.5% 0
        font-weight 800
        font-size 1.8rem
        text-align center
        left 10%
        bottom 100%

    .mission_icon
        position absolute
        background-color c-black
        width 8%
        height auto
        padding 0.5% 0
        font-weight 800
        font-size 1.8rem
        text-align center
        left 18%
        bottom 100%
        & img
            width 50%

    .mission_icon2
        position absolute
        background-color c-black
        width 8%
        height auto
        padding 0.5% 0
        font-weight 800
        font-size 1.8rem
        text-align center
        left 18%
        bottom 100%
        & img
            width 50%

    .mission_icon3
        position absolute
        background-color c-black
        width 8%
        height auto
        padding 0.5% 0
        font-weight 800
        font-size 1.8rem
        text-align center
        left 26%
        bottom 100%
        & img
            width 50%

    .mission_content
        background-color c-white
        color c-black
        width 80%
        height auto
        margin 0 auto
        padding 3%
        font-weight 800
        font-size 1.7rem
        text-align left
        letter-spacing 0.05rem
